@use 'variables' as *;
// @include parallax-init;

.hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  min-height: 100vh;

  .canvas {
    position: absolute;
    top: 0;
  }

  &__content {
    color: white;
    font-weight: 900;
    width: 100%;
    height: 100%;
    z-index: -2;

    h1 {
      font-size: 7rem;
      margin-top: 2%;
      position: absolute;
      left: 0;
      right: 0;
      top: 4%;
      text-align: center;
      // @include parallax(.2, 1000);
      // width: 60vw;
      z-index: unset;
    }
  }


  @media only screen and (min-width: 800px) {
    h1 {
      top: 3%;
      font-size: 9rem;
    }
  }

}