@use 'variables' as *;

.project {
  color: white;
  background-color: $midblue;
  @include flex(column, center, stretch);
  padding: 5rem 3rem;
  border-radius: 10px;
  max-width: 95%;
  font-size: 1.2rem;
  box-shadow: 13px 13px 26px #131d27,
    -13px -13px 26px #192735;

  .icons {
    @include flex(row, flex-start, center);
    gap: 1rem;
    margin-bottom: 3rem;

    svg {
      font-size: 2.5rem;

      path {
        fill: $lightblue;
      }
    }
  }

  h3 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
  }

  p {
    color: $lightblue;
    font-size: 1.5rem;
    white-space: pre-wrap;
  }


  &:hover,
  &:focus {

    .video {
      .filter {
        transition: all 300ms ease-in-out;
        opacity: 0;

        &:before {
          transition-delay: 150ms;
          transition: all 300ms ease-in-out;
          opacity: 0;
        }

        svg {
          transition-delay: 150ms;
          transition: all 300ms ease-in-out;
          opacity: 0;
        }
      }

      video {
        transition: all 300ms ease-in-out;
        filter: none;
        mix-blend-mode: normal;
      }
    }
  }

  .video {
    position: relative;
    @include flex(column, center, flex-start);
    margin-bottom: 3rem;

    .filter {
      transition: all 300ms ease-in-out;
      background-color: $yellow;
      position: absolute;
      width: 100%;
      height: 100%;

      &:before {
        transition-delay: 150ms;
        transition: all 300ms ease-in-out;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0px;
        mix-blend-mode: screen;
      }

      svg {
        transition: all 300ms ease-in-out;
        position: absolute;
        opacity: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
        z-index: 1;
        color: $white;
      }
    }


    video {
      transition: all 1000ms ease-in-out;
      mix-blend-mode: multiply;
      filter: grayscale(100%) contrast(1) brightness(90%);
      max-width: 100%;
    }

  }

  .buttons {
    @include flex(row, space-around, center);

    button {
      border-radius: 5px;
      @include flex(row, space-between, center);
      background-color: $darkblue;
      border: none;
      outline: none;
      padding: 1em 1.5em;
      cursor: pointer;
      transition: background-color, color, 150ms ease-in-out;

      svg {
        margin-left: 1rem;
      }

      &:hover {
        color: $darkblue;
        background-color: $yellow;
        transition: background-color, color, 300ms ease-in-out;
      }
    }
  }

  @media only screen and (min-width: 800px) {
    max-width: 33vw;
  }
}